## 套件

In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
# price_data = pd.read_csv('../data/stock_100_price.txt',  encoding='cp950')
# earn_data = pd.read_csv('../data/stock_100_earn.txt',  encoding='cp950')
# institution_data = pd.read_csv('../data/stock_100_institution.txt',  encoding='cp950')
# bs_data = pd.read_csv('../data/stock_100_bs.txt',  encoding='cp950')

price_data = pd.read_csv('../data/stock_price.txt',  encoding='cp950')
earn_data = pd.read_csv('../data/stock_earn.txt',  encoding='cp950')
institution_data = pd.read_csv('../data/stock_institution.txt',  encoding='cp950')
bs_data = pd.read_csv('../data/stock_bs.txt',  encoding='cp950')

/Users/gy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# 查看前五筆資料
price_data.head()

,證券代碼,簡稱,TSE新產業_名稱,TEJ產業_名稱,年月日,收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,市值(百萬元),股價淨值比-TSE,股價淨值比-TEJ
0,1101,台泥,水泥工業,水泥製造,20170103,35.15,2890,101450,0.0000,0.0783,129779,1.2300,1.23
1,1102,亞泥,水泥工業,水泥製造,20170103,26.50,1271,33550,0.5693,0.0378,89078,0.7300,0.73
2,1103,嘉泥,水泥工業,水泥製造,20170103,8.71,278,2411,-0.2291,0.0359,6748,0.4000,0.48
3,1104,環泥,水泥工業,水泥製造,20170103,24.60,150,3705,-0.2028,0.0236,15610,0.9700,0.97
4,1108,幸福,水泥工業,水泥製造,20170103,9.15,20,182,0.3289,0.0049,3703,0.7800,0.78

In [4]:
# 查看後五筆資料
price_data.tail()

,證券代碼,簡稱,TSE新產業_名稱,TEJ產業_名稱,年月日,收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,市值(百萬元),股價淨值比-TSE,股價淨值比-TEJ
2414085,9955,佳龍,其他,資源回收,20220225,26.50,6713,185048,-8.7780,6.5043,2735,1.8000,1.7970
2414086,9957,燁聯,鋼鐵工業,金屬基本,20220225,13.40,4190,55859,2.6820,0.1599,35114,-,2.2914
2414087,9958,世紀鋼,鋼鐵工業,金屬基本,20220225,108.50,1053,115025,0.0000,0.4545,25136,3.4100,3.4245
2414088,9960,邁達康,貿易百貨,百貨批發,20220225,26.75,21,555,0.1873,0.0625,899,1.7800,1.7820
2414089,9962,有益,鋼鐵工業,金屬基本,20220225,17.15,1156,19753,3.3133,1.2813,1547,1.5000,1.5036

In [5]:
rename_column_maplist = {
    '證券代碼' : "code", 
    '公司': 'code',
    '證券名稱': 'code',
    '公司代碼': 'code',
    
    '簡稱' : 'name', 
    'TSE新產業_名稱' : 'new_industry', 
    'TEJ產業_名稱' : 'industry', 
    '年月日'  : "date", 
    '年/月': 'date_year_month',
    '收盤價(元)' : 'close', 
    '成交量(千股)' : 'volume', 
    '成交值(千元)' : 'amount',
    '報酬率％' : 'return', 
    '週轉率％' : "turn_over", 
    '市值(百萬元)' : "size", 
    '股價淨值比-TSE': "PB_TSE", 
    '股價淨值比-TEJ' : 'PB_TEJ',
    
    ### earn
    'ROA－綜合損益': 'ROA',
    '營收成長率': 'YOY',
    '總資產成長率': "TAR",
    
    ### in          
    '外資週轉率%' : 'foreign_turnover_rate',
    '投信週轉率%' : 'trust_turnover_rate',
    '自營商週轉率%' : 'broker_turnover_rate',
    
    ## bs
    '券資比': 'short_margin_ratio',
    '融資餘額(張)' : 'margin_balance',
    '融券餘額(張)' : 'short_balance',
}

In [6]:
print('欄位改名前：', price_data.columns)
price_data.rename(columns=rename_column_maplist, inplace=True)
print('欄位改名後：', price_data.columns)

欄位改名前： Index(['證券代碼', '簡稱', 'TSE新產業_名稱', 'TEJ產業_名稱', '年月日', '收盤價(元)', '成交量(千股)',
       '成交值(千元)', '報酬率％', '週轉率％', '市值(百萬元)', '股價淨值比-TSE', '股價淨值比-TEJ'],
      dtype='object')
欄位改名後： Index(['code', 'name', 'new_industry', 'industry', 'date', 'close', 'volume',
       'amount', 'return', 'turn_over', 'size', 'PB_TSE', 'PB_TEJ'],
      dtype='object')

In [7]:
# https://s61160230.pixnet.net/blog/post/218812467

print('欄位改名前：', earn_data.columns)
earn_data.rename(columns=rename_column_maplist, inplace=True)
print('欄位改名後：', earn_data.columns)

欄位改名前： Index(['公司', '簡稱', '年/月', '營收成長率', '總資產成長率'], dtype='object')
欄位改名後： Index(['code', 'name', 'date_year_month', 'YOY', 'TAR'], dtype='object')

In [8]:
print('欄位改名前：', institution_data.columns)
institution_data.rename(columns=rename_column_maplist, inplace=True)
print('欄位改名後：', institution_data.columns)

欄位改名前： Index(['證券名稱', '簡稱', '年月日', '外資週轉率%', '投信週轉率%', '自營商週轉率%'], dtype='object')
欄位改名後： Index(['code', 'name', 'date', 'foreign_turnover_rate', 'trust_turnover_rate',
       'broker_turnover_rate'],
      dtype='object')

In [9]:
print('欄位改名前：', bs_data.columns)
bs_data.rename(columns=rename_column_maplist, inplace=True)
print('欄位改名後：', bs_data.columns)

欄位改名前： Index(['公司代碼', '簡稱', '年月日', '券資比'], dtype='object')
欄位改名後： Index(['code', 'name', 'date', 'short_margin_ratio'], dtype='object')

In [10]:
print('price : ')
price_data.info()

print()
print()

print('earn : ')
earn_data.info()

print()
print()

print('institution : ')
institution_data.info()

print()
print()

print('bs : ')
bs_data.info()

price :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2414090 entries, 0 to 2414089
Data columns (total 13 columns):
 #   Column        Dtype
---  ------        -----
 0   code          int64
 1   name          object
 2   new_industry  object
 3   industry      object
 4   date          int64
 5   close         float64
 6   volume        int64
 7   amount        int64
 8   return        float64
 9   turn_over     float64
 10  size          int64
 11  PB_TSE        object
 12  PB_TEJ        object
dtypes: float64(3), int64(5), object(5)
memory usage: 239.4+ MB


earn :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40210 entries, 0 to 40209
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             40210 non-null  object
 1   name             40210 non-null  object
 2   date_year_month  40210 non-null  int64
 3   YOY              40210 non-null  object
 4   TAR              40210 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.5+ MB


institution :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459874 entries, 0 to 2459873
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   code                   int64
 1   name                   object
 2   date                   int64
 3   foreign_turnover_rate  object
 4   trust_turnover_rate    object
 5   broker_turnover_rate   object
dtypes: int64(2), object(4)
memory usage: 112.6+ MB


bs :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994289 entries, 0 to 1994288
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   code                int64
 1   name                object
 2   date                int64
 3   short_margin_ratio  object
dtypes: int64(2), object(2)
memory usage: 60.9+ MB

# 大表

In [11]:
price_data['code'] = price_data['code'].apply(lambda x: str(x).strip())
institution_data['code'] = institution_data['code'].apply(lambda x: str(x).strip())
bs_data['code'] = bs_data['code'].apply(lambda x: str(x).strip())
earn_data['code'] = earn_data['code'].apply(lambda x: str(x).strip())


price_data['name'] = price_data['name'].apply(lambda x: str(x).strip())
institution_data['name'] = institution_data['name'].apply(lambda x: str(x).strip())
bs_data['name'] = bs_data['name'].apply(lambda x: str(x).strip())
earn_data['name'] = earn_data['name'].apply(lambda x: str(x).strip())

price_data['new_industry'] = price_data['new_industry'].apply(lambda x: str(x).strip())
price_data['industry'] = price_data['industry'].apply(lambda x: str(x).strip())

In [12]:
merge_data = price_data.merge(institution_data, on=['code', 'name', 'date'])\
.merge(bs_data, on=['code', 'name', 'date'])
merge_data['date_year_month']= merge_data['date'].apply(lambda the_date: int(str(the_date)[:6]))

merge_data['code'] = merge_data['code'].apply(lambda x: str(x).strip())
earn_data['code'] = earn_data['code'].apply(lambda x: str(x).strip())

all_data = merge_data.merge(
    earn_data, on=['code', 'name', 'date_year_month'], how='outer').sort_values(by='date_year_month')

In [ ]:
# all_data = all_data.query('year >= 2016 & month >= 1')

In [13]:
all_data['code'].drop_duplicates().values

array(['1464', '6638', '6639', ..., '3713', '6829', '3714'], dtype=object)

# 迴圈測試

In [14]:
from tqdm import tqdm

code_list = all_data['code'].drop_duplicates().values

In [15]:
x_variable_columns = [
        'return', 
        'size', 
        'PB_TSE',
        'YOY', 
        'TAR',
        'turn_over', 
        'margin_short_ratio', 
        'intitution_turnover_rate',
    ]

In [16]:
error_list = []
res_list = []
empty_list = []

for code in tqdm(code_list):
    stock_data = all_data.query('code == @code')
    
    stock_data = stock_data.ffill()
    stock_data['return_t1'] = stock_data['return'].shift(-1)
    
    stock_data = stock_data.dropna()
    
    if stock_data.empty:
        empty_list.append(code)
        continue
    
    try:
        
        stock_data['PB_TSE'] = stock_data['PB_TSE'].astype(float)
        stock_data['YOY'] = stock_data['YOY'].astype(float)
        stock_data['TAR'] = stock_data['TAR'].astype(float)
        
        ## 資券比
        stock_data['short_margin_ratio'] = stock_data['short_margin_ratio'].astype(float)
        def convert(x):
            if x == 0 :
                return 0
            else:
                return 1/(x)*10000
        stock_data['margin_short_ratio'] = stock_data['short_margin_ratio'].apply(convert)
        
        ## 合計週轉率
        stock_data['intitution_turnover_rate']  = stock_data[['trust_turnover_rate', 'broker_turnover_rate', 'short_margin_ratio']].sum(1)

    except:
        #print("有問題：", code)
        error_list.append(code)
        continue

    y = stock_data['return_t1'].values.reshape((-1, 1))
    x = stock_data[x_variable_columns]

    model = sm.OLS(y,  sm.add_constant(x,  prepend=False))
    res = model.fit()       # Fit model
    #print(res.summary())   # Summarize model
    res_list.append({'code': code, 'res': res, 'data-shape': stock_data.shape})

  0%|          | 0/2370 [00:00<?, ?it/s]/Users/gy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/Users/gy/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:130: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
100%|██████████| 2370/2370 [03:20<00:00, 11.81it/s]

# 全變數

In [17]:
aviable_t_list = []
for res in tqdm(res_list):
    aviable_t = (res['res'].pvalues < 0.1).sum()
    if aviable_t > 0:
        code = res['code']
        stock_data = all_data.query('code == @code')
        
        stock_info = stock_data[["code","name","new_industry","industry"]].dropna().iloc[-1, :4]
        mean_size = stock_data['size'].mean()
        #print(" | ".join(stock_data.iloc[-1, :4].values), aviable_t)
        aviable_t_list.append({
            'code': code,
            'name': stock_info['name'],
            'mean_size': mean_size,
            'new_industry': stock_info['new_industry'],
            'industry': stock_info['industry'],
            'aviable_t': aviable_t
        })
aviable_t_table = pd.DataFrame(aviable_t_list)

 14%|█▎        | 166/1210 [00:12<01:27, 11.89it/s]/Users/gy/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1362: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
100%|██████████| 1210/1210 [01:36<00:00, 12.56it/s]

In [18]:
aviable_t_table.sort_values('aviable_t', ascending=False).head(20)

      code name      mean_size new_industry industry  aviable_t
472   1236   宏亞    1682.827367         食品工業     其他食品          8
1089  3707   漢磊   11664.426412          半導體      半導體          7
805   5013   強新    3861.431981         鋼鐵工業     金屬基本          7
748   2615   萬海  111267.579157          航運業       海運          6
425   1336   台翰    1375.308671        電子零組件    電子零組件          6
427   1325   恒大    3958.722355         塑膠工業      不織布          6
635   2459   敦吉    4595.613365        其他電子業     資訊通路          6
636   2458   義隆   31428.662670          半導體      半導體          6
1031  3545   敦泰   15165.817820          半導體      半導體          6
684   2376   技嘉   42236.934765        電腦及週邊      主機板          6
852   6114   久威    1636.715990        電子零組件      主機板          6
114   3016   嘉晶   15383.529037          半導體      半導體          6
255   2856  元富證   14700.476190          金融業       證券          6
945   4736   泰博   13422.381862         生技醫療     醫療耗材          6
764   2371   大同   53752.727128         電機機械     電機製品          6
168   3209   全科    3854.661893        電子通路業     資訊通路          6
742   2499   東貝    4056.377049          光電業   光電/ IO          6
179   6283   淳安    5821.917263        其他電子業   光電/ IO          6
707   2495   普安    3888.739857        其他電子業   光電/ IO          5
743   2498  宏達電   39312.501193        通信網路業     通訊設備          5

# 有興趣的投資人指標

In [ ]:
expect_col = ['margin_short_ratio', 'intitution_turnover_rate']
aviable_t_list = []
for res in res_list:
    aviable_t = (res['res'].pvalues[expect_col] < 0.1).sum()
    if aviable_t > 0:
        code = res['code']
        stock_data = all_data.query('code == @code')[["code","name","new_industry","industry"]].dropna()
        stock_info = stock_data.iloc[-1, :4]
        #print(" | ".join(stock_data.iloc[-1, :4].values), aviable_t)
        aviable_t_list.append({
            'code': code,
            'name': stock_info['name'],
            'new_industry': stock_info['new_industry'],
            'industry': stock_info['industry'],
            'aviable_t': aviable_t
        })
aviable_t_table = pd.DataFrame(aviable_t_list)

In [ ]:
aviable_t_table.pivot_table(index=['new_industry'], aggfunc=sum).sort_values(
    'aviable_t', ascending=False
)

In [ ]:
target_industry = aviable_t_table[aviable_t_table['new_industry'].isin(
    ['電子零組件', '半導體', '電機機械', '建材營造'])
]
target_industry.pivot_table(index=['new_industry', 'industry'], aggfunc=sum)

In [ ]:
price_data

# 單隻

In [ ]:
code = "2498"

stock_data = all_data.query('code == @code')
stock_data = stock_data.ffill().dropna()
stock_data['return_t1'] = stock_data['return'].shift(-1)
stock_data = stock_data.dropna()

try:
    
    stock_data['PB_TSE'] = stock_data['PB_TSE'].astype(float)
    stock_data['YOY'] = stock_data['YOY'].astype(float)
    stock_data['TAR'] = stock_data['TAR'].astype(float)
        
        
    ## 資券比
    stock_data['short_margin_ratio'] = stock_data['short_margin_ratio'].astype(float)
    def convert(x):
        if x == 0 :
            return 0
        else:
            return 1/(x)*10000
    stock_data['margin_short_ratio'] = stock_data['short_margin_ratio'].apply(convert)

    ## 合計週轉率
    stock_data['intitution_turnover_rate']  = stock_data[['trust_turnover_rate', 'broker_turnover_rate', 'short_margin_ratio']].sum(1)

except:
    print("有問題：", code)
    

y = stock_data['return_t1'].values.reshape((-1, 1))
x = stock_data[[
    'return', 
    'size', 
    'PB_TSE',
#     'ROA',
    'YOY', 
    'TAR',
    'turn_over', 
    'margin_short_ratio', 
    'intitution_turnover_rate',
]]

model = sm.OLS(y,  sm.add_constant(x,  prepend=False))
res = model.fit()       # Fit model
print(res.summary())   # Summarize model

aviable_t = (res.pvalues[:-1] < 0.1).sum()
if aviable_t > 2:
    print(stock_data.iloc[0, :3])
    print(aviable_t)
    print('----------')

In [ ]:
code = "2201"
stock_data = all_data.query('code == @code')
stock_data = stock_data.ffill().dropna()
stock_data['return_t1'] = stock_data['return'].shift(-1)
stock_data = stock_data.dropna()

try:
    
    stock_data['PB_TSE'] = stock_data['PB_TSE'].astype(float)
    stock_data['YOY'] = stock_data['YOY'].astype(float)
    stock_data['TAR'] = stock_data['TAR'].astype(float)
        
        
    ## 資券比
    stock_data['short_margin_ratio'] = stock_data['short_margin_ratio'].astype(float)
    def convert(x):
        if x == 0 :
            return 0
        else:
            return 1/(x)*10000
    stock_data['margin_short_ratio'] = stock_data['short_margin_ratio'].apply(convert)

    ## 合計週轉率
    stock_data['intitution_turnover_rate']  = stock_data[['trust_turnover_rate', 'broker_turnover_rate', 'short_margin_ratio']].sum(1)

except:
    print("有問題：", code)
    

y = stock_data['return_t1'].values.reshape((-1, 1))
x = stock_data[[
    'return', 
    'size', 
    'PB_TSE',
#     'ROA',
    'YOY', 
    'TAR',
    'turn_over', 
    'margin_short_ratio', 
    'intitution_turnover_rate',
]]

model = sm.OLS(y,  sm.add_constant(x,  prepend=False))
res = model.fit()       # Fit model
print(res.summary())   # Summarize model

aviable_t = (res.pvalues[:-1] < 0.1).sum()
if aviable_t > 2:
    print(stock_data.iloc[0, :3])
    print(aviable_t)
    print('----------')

In [ ]:
                            OLS Regression Results                            
==============================================================================
Dep. Variable:                      y   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.598
Date:                Mon, 28 Feb 2022   Prob (F-statistic):              0.121
Time:                        17:15:48   Log-Likelihood:                -2597.6
No. Observations:                1256   AIC:                             5213.
Df Residuals:                    1247   BIC:                             5259.
Df Model:                           8                                         
Covariance Type:            nonrobust                                         
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
return                       0.0018      0.029      0.064      0.949      -0.055       0.059
size                     -1.868e-05   1.58e-05     -1.185      0.236   -4.96e-05    1.23e-05
PB_TSE                       0.4055      0.624      0.650      0.516      -0.818       1.630
YOY                         -0.0113      0.008     -1.345      0.179      -0.028       0.005
TAR                         -0.0008      0.009     -0.096      0.923      -0.018       0.016
turn_over                    0.3170      0.105      3.015      0.003       0.111       0.523
margin_short_ratio       -2.458e-07   1.19e-06     -0.206      0.836   -2.58e-06    2.09e-06
intitution_turnover_rate    -0.0107      0.025     -0.421      0.674      -0.060       0.039
const                        0.2918      0.583      0.501      0.617      -0.852       1.436
==============================================================================
Omnibus:                      252.497   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2497.824
Skew:                           0.627   Prob(JB):                         0.00
Kurtosis:                       9.794   Cond. No.                     6.91e+05
==============================================================================

# 讀取資料

In [ ]:
price_data = pd.read_csv('./taiwan-index-price-data.txt', encoding='cp950')

In [ ]:
price_data

# 資料基本欄位檢查

In [ ]:
price_data.info()

In [ ]:
print(price_data['證券代碼'].drop_duplicates())
print('-----------------------------')
print(price_data['簡稱'].drop_duplicates())

# 查詢資料

In [ ]:
price_data['年月日'] == 20000104

##### 為什麼找不到想要的代碼

In [ ]:
target_data = price_data[price_data['證券代碼'] == 'M1800']
target_data

In [ ]:
price_data['證券代碼'].drop_duplicates().values

In [ ]:
def clearSpace(value):
    return value.strip()

In [ ]:
price_data['證券代碼'] = price_data['證券代碼'].apply(clearSpace)
price_data['簡稱'] = price_data['簡稱'].apply(clearSpace)

#### 再來找看看

In [ ]:
target_data = price_data[price_data['證券代碼'] == 'M1800']
target_data

## index 跑掉了？

In [ ]:
target_data = target_data.reset_index(drop=True)
target_data

# 新增報酬率欄位

In [ ]:
target_data['收盤價(元)']

In [ ]:
target_data['ret'] = target_data['收盤價(元)'].diff(1)/target_data['收盤價(元)'].shift(1)
target_data

In [ ]:
target_data = target_data.dropna()

# 基本敘述性統計

In [ ]:
target_data.describe()

## 偏態 與 峰態

In [ ]:
from scipy import stats

In [ ]:
## 偏態
skew = stats.skew(target_data['收盤價(元)'])
## 峰態 fisher=False 是 Eviews 作法
kurtosis = stats.kurtosis(target_data['收盤價(元)'], fisher=False)

print('skew      :  {}'.format(skew))
print('kurtosis  :  {}'.format(kurtosis))

# 相關係數表

In [ ]:
target_data.corr()