
# 執行 cell：
   * Shfit + Enter 執行該 cell 且跳下一個 cell 
   * Ctrl + Enter 執行該 cell (但停在該 cell)
   
# 如果想要做註解：
   *  單行  -> #　　　快捷鍵「Ctrl + /」
   *  多行  -> """  """

In [1]:
a = 123
b = 456
c = 78.9

In [2]:
a

123

In [3]:
## a 的值跑不出來？
a
b

456

In [4]:
print(a)
print(b)

123
456

In [5]:
print("a => ", a)
print("b => ", b)

a =>  123
b =>  456

# 函式說明：
  * ?FunctionName
  * help(FunctionName)

In [6]:
?print

In [7]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 數字的 + - * / (加減乘除)

In [8]:
b + c

534.9

In [9]:
a*c

9704.7

In [10]:
d = a - b
b/a

3.707317073170732

# 小實做：黃金分割

In [11]:
# 在作黃金分割時，我們一定要給的資訊
high_point = 4752.53
low_point = 2375.48

In [12]:
# 邏輯組合

diff = high_point - low_point

raito_1 = diff*0.236
raito_2 = diff*0.382
raito_3 = diff*0.5
raito_4 = diff*0.618
raito_5 = diff*0.786

In [13]:
# 輸出什麼

print('低點 -> ', low_point)
print('關卡 1 -> ', low_point + raito_1)
print('關卡 2 -> ', low_point + raito_2)
print('關卡 3 -> ', low_point + raito_3)
print('關卡 4 -> ', low_point + raito_4)
print('關卡 5 -> ', low_point + raito_5)
print('高點 -> ', high_point)

低點 ->  2375.48
關卡 1 ->  2936.4638
關卡 2 ->  3283.5131
關卡 3 ->  3564.005
關卡 4 ->  3844.4969
關卡 5 ->  4243.8413
高點 ->  4752.53

# 自定函式 (Functions)

In [14]:
# def function
def fibonacci(high_point, low_point): 
    # 邏輯組合
    diff = high_point - low_point
    raito_1 = diff*0.236
    raito_2 = diff*0.382
    raito_3 = diff*0.5
    raito_4 = diff*0.618
    raito_5 = diff*0.786
    
    # 輸出什麼

    print('低點 -> ', low_point)
    print('關卡 1 -> ', low_point + raito_1)
    print('關卡 2 -> ', low_point + raito_2)
    print('關卡 3 -> ', low_point + raito_3)
    print('關卡 4 -> ', low_point + raito_4)
    print('關卡 5 -> ', low_point + raito_5)
    print('高點 -> ', high_point)

In [15]:
fibonacci(4752.53, 2375.48)

低點 ->  2375.48
關卡 1 ->  2936.4638
關卡 2 ->  3283.5131
關卡 3 ->  3564.005
關卡 4 ->  3844.4969
關卡 5 ->  4243.8413
高點 ->  4752.53

In [16]:
fibonacci(4764, 481)

低點 ->  481
關卡 1 ->  1491.788
關卡 2 ->  2117.1059999999998
關卡 3 ->  2622.5
關卡 4 ->  3127.894
關卡 5 ->  3847.438
高點 ->  4764

### 預設輸入值

In [17]:
def printValue(x = "Nothing input"): 
    print("You input : ", x)
    return x

In [18]:
printValue()

You input :  Nothing input

'Nothing input'

In [19]:
printValue(32423)

You input :  32423

32423

### lambda function

In [20]:
lambdaFunc = lambda x: x**2
lambdaFunc(4)

16

In [21]:
MySum = lambda x, y: x + y
MySum(3,2)

5

# 常見的資料型態

* 數值 number
     - 整數 integer (int)
     - 浮點數 float
* 字串 string (str)
* 邏輯 boolean (bool): True: 1; False: 0
* 容器型態
     - [列表 list](http://www.runoob.com/python/python-lists.html)
     - [元組 tuple](http://www.runoob.com/python/python-tuples.html)
     - [字典 dict](http://www.runoob.com/python/python-dictionary.html)
     - [集合 set](http://www.iplaypython.com/jichu/set.html)
     
### 分成不可變(immutable)與可變(mutable)
* immutable: int, float, str, bool, tuple
* mutable: list, dict, set

# 字串 str

In [22]:
life = "     人生     "
essentials =  "   貓咪   "

In [23]:
type(life)

str

In [24]:
# 去除空白（左右）

life.strip()

'人生'

In [25]:
# 字串加 與 乘

life + essentials

'     人生        貓咪   '

In [26]:
# 字串加減乘除

essentials * 10

'   貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪   '

In [27]:
# 數字變字串

a = 10
str(a)

'10'

In [1]:
# 字串轉其他型態
b='30'
print('int   :', int(b))
print('float :', float(b))

int   : 30
float : 30.0

# 列表(list) 與 元組 (tuple)

In [4]:
student_names = ["Jam", "Mary", "Bob", "Patrick", "Hank"]
student_names

['Jam', 'Mary', 'Bob', 'Patrick', 'Hank']

In [5]:
student_names[0]

'Jam'

In [6]:
student_names[:3]

['Jam', 'Mary', 'Bob']

In [7]:
student_names[-1]

'Hank'

In [8]:
student_numbers = ("A01", "A02", "A03", "A04", "A05")
student_numbers

('A01', 'A02', 'A03', 'A04', 'A05')

In [9]:
print(student_numbers[0])
print(student_numbers[:3])
print(student_numbers[-1])

A01
('A01', 'A02', 'A03')
A05

差在哪裡？

In [10]:
student_names[0] = 'Alen'
student_names

['Alen', 'Mary', 'Bob', 'Patrick', 'Hank']

In [11]:
student_numbers[0] = 'B01'
student_numbers

TypeError: 'tuple' object does not support item assignment

# 字典 dict

In [36]:
stock_maplist = {
    '2330': '台積電',
    '2317': "鴻海",
    "2309": "友達"
}

In [37]:
stock_maplist['2330']

'台積電'

In [38]:
stock_maplist.keys()

dict_keys(['2330', '2317', '2309'])

In [39]:
stock_maplist.values()

dict_values(['台積電', '鴻海', '友達'])

# 邏輯判斷 - if else

In [40]:
A = 3
B = 2

if A == B:
    print('A = B')
else:
    print('A != B')

A != B

In [41]:
# 巢狀條件判斷 if-elif-else

score = 59
if 80 < score <= 100:
    print("太聰明了")
elif 60 < score <= 80:
    print("有進步的空間")
elif 40 < score <= 60:
    print("看來有很大進步的空間")  
elif score <= 40:
    print("可以打掉重練了")
else:
    print("神一般的等級")

看來有很大進步的空間

# 持續處理 - for 迴圈

In [42]:
# 從 0印出來到 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
student_names = ["Jam", "Mary", "Bob", "Patrick", "John"]
for name in student_names:
    print("班上的學生有：",name)

班上的學生有： Jam
班上的學生有： Mary
班上的學生有： Bob
班上的學生有： Patrick
班上的學生有： John

In [44]:
for idx, name in enumerate(student_names):
    print("班上的學生有：",name,"  ，學號是",idx)

班上的學生有： Jam   ，學號是 0
班上的學生有： Mary   ，學號是 1
班上的學生有： Bob   ，學號是 2
班上的學生有： Patrick   ，學號是 3
班上的學生有： John   ，學號是 4

# break 與 continue

In [45]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [46]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# 把程式碼包裝出去

In [47]:
from my_function import fibonacci

In [48]:
fibonacci(1000, 100)

(100, 312.4, 443.8, 550.0, 656.2, 807.4)