## 套件

In [40]:
import pandas as pd

### 讀取 價格、財報、法人、資券資料

In [47]:
price_data = pd.read_csv('../data/price.txt',  encoding='cp950')
ifrs_data = pd.read_csv('../data/ifrs.txt',  encoding='cp950')
institution_data = pd.read_csv('../data/institution.txt',  encoding='cp950')
margin_data = pd.read_csv('../data/margin.txt',  encoding='cp950')

# 欄位改名

In [48]:
from utils import rename_column_maplist

In [49]:
rename_column_maplist

{'證券代碼': 'code',
 '簡稱': 'name',
 'TSE新產業_名稱': 'new_industry',
 'TEJ產業_名稱': 'industry',
 '年月日': 'date',
 '開盤價(元)': 'open',
 '最高價(元)': 'high',
 '最低價(元)': 'low',
 '收盤價(元)': 'close',
 '成交量(千股)': 'volume',
 '報酬率％': 'return',
 '週轉率％': 'turn_over',
 '市值(百萬元)': 'size',
 '股價淨值比-TSE': 'PB_TSE',
 '公司': 'code',
 '年/月': 'date_year_month',
 '營收成長率': 'YOY',
 '總資產成長率': 'TAR',
 '證券名稱': 'code',
 '外資週轉率%': 'foreign_turnover_rate',
 '投信週轉率%': 'trust_turnover_rate',
 '自營商週轉率%': 'broker_turnover_rate',
 '公司代碼': 'code',
 '券資比': 'short_margin_ratio',
 '融資餘額(張)': 'margin_balance',
 '融券餘額(張)': 'short_balance'}

In [50]:
price_data.rename(columns=rename_column_maplist, inplace=True)
ifrs_data.rename(columns=rename_column_maplist, inplace=True)
institution_data.rename(columns=rename_column_maplist, inplace=True)
margin_data.rename(columns=rename_column_maplist, inplace=True)

# 資料前處理

# 欄位的加減乘除

In [51]:
# 成交金額 = 收盤價 * 成交量

price_data['close'] * price_data['volume']

0        4555.2
1        2596.0
2        3658.0
3        5527.2
4        8294.0
         ...
1273    16179.6
1274     8453.5
1275    15943.2
1276    17105.2
1277    10748.5
Length: 1278, dtype: float64

In [7]:
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   code          1277 non-null   int64
 1   name          1277 non-null   object
 2   new_industry  1277 non-null   object
 3   industry      1277 non-null   object
 4   date          1277 non-null   int64
 5   open          1277 non-null   float64
 6   high          1277 non-null   float64
 7   low           1277 non-null   float64
 8   close         1277 non-null   float64
 9   volume        1277 non-null   int64
 10  return        1277 non-null   float64
 11  turn_over     1277 non-null   float64
 12  PB_TSE        1277 non-null   float64
dtypes: float64(7), int64(3), object(3)
memory usage: 129.8+ KB

In [8]:
# 股價淨值比
# 怎麼怪怪的

price_data['PB_TSE'] * 2

0       5.72
1       5.78
2       5.78
3       5.76
4       5.68
        ...
1272    3.38
1273    3.40
1274    3.42
1275    3.42
1276    3.36
Name: PB_TSE, Length: 1277, dtype: float64

# 還有什麼欄位也有問題？

In [9]:
price_data[['name', 'code', 'new_industry', 'industry']].values

array([['艾訊         ', 3088, '電腦及週邊', '主機板    '],
       ['艾訊         ', 3088, '電腦及週邊', '主機板    '],
       ['艾訊         ', 3088, '電腦及週邊', '主機板    '],
       ...,
       ['艾訊         ', 3088, '電腦及週邊', '主機板    '],
       ['艾訊         ', 3088, '電腦及週邊', '主機板    '],
       ['艾訊         ', 3088, '電腦及週邊', '主機板    ']], dtype=object)

In [10]:
ifrs_data.head()

   code         name  date_year_month    YOY    TAR
0  3088  艾訊                    201612  -1.75  11.87
1  3088  艾訊                    201703 -18.54  10.97
2  3088  艾訊                    201706 -14.69  26.50
3  3088  艾訊                    201709 -14.28  29.47
4  3088  艾訊                    201712 -15.14  12.71

1. name, code, new_industry, industry 有空白
2. 有些 code 是數字
3. 部分公司的 PB_TSE, YOY, TAR 是字串
4. 營收資料是月資料

# 利用 apply 欄位資料逐步處理

In [11]:
def testApply(value):
    print('value => ', value)
    return value

In [12]:
price_data['name'].apply(testApply)

value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊

value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊
value =>  艾訊

0       艾訊
1       艾訊
2       艾訊
3       艾訊
4       艾訊
           ...
1272    艾訊
1273    艾訊
1274    艾訊
1275    艾訊
1276    艾訊
Name: name, Length: 1277, dtype: object

### 處理空白

In [13]:
def cleanStringSpace(value):
    return str(value).strip()

In [14]:
# 代號
price_data['code'] = price_data['code'].apply(cleanStringSpace)
institution_data['code'] = institution_data['code'].apply(cleanStringSpace)
margin_data['code'] = margin_data['code'].apply(cleanStringSpace)
ifrs_data['code'] = ifrs_data['code'].apply(cleanStringSpace)

# 名字
price_data['name'] = price_data['name'].apply(cleanStringSpace)
institution_data['name'] = institution_data['name'].apply(cleanStringSpace)
margin_data['name'] = margin_data['name'].apply(cleanStringSpace)
ifrs_data['name'] = ifrs_data['name'].apply(cleanStringSpace)

# 產業
price_data['new_industry'] = price_data['new_industry'].apply(cleanStringSpace)
price_data['industry'] = price_data['industry'].apply(cleanStringSpace)

# 處理 字串 -> 數值

In [15]:
def StringToFloat(value):
    return float(value)

In [16]:
# 財報
price_data['PB_TSE'] = price_data['PB_TSE'].apply(StringToFloat)
ifrs_data['YOY'] = ifrs_data['YOY'].apply(StringToFloat)
ifrs_data['TAR'] = ifrs_data['TAR'].apply(StringToFloat)

In [17]:
price_data.head()

,code,name,new_industry,industry,date,open,high,low,close,volume,return,turn_over,PB_TSE
0,3088,艾訊,電腦及週邊,主機板,20170103,58.3,58.7,58.1,58.4,78,0.1715,0.0987,2.86
1,3088,艾訊,電腦及週邊,主機板,20170104,59.0,59.0,58.7,59.0,44,1.0274,0.0557,2.89
2,3088,艾訊,電腦及週邊,主機板,20170105,59.0,59.1,58.6,59.0,62,0.0000,0.0785,2.89
3,3088,艾訊,電腦及週邊,主機板,20170106,59.0,59.1,58.7,58.8,94,-0.3390,0.1189,2.88
4,3088,艾訊,電腦及週邊,主機板,20170109,58.0,58.3,57.7,58.0,143,-1.3605,0.1809,2.84

In [18]:
ifrs_data.head()

   code name  date_year_month    YOY    TAR
0  3088   艾訊           201612  -1.75  11.87
1  3088   艾訊           201703 -18.54  10.97
2  3088   艾訊           201706 -14.69  26.50
3  3088   艾訊           201709 -14.28  29.47
4  3088   艾訊           201712 -15.14  12.71

#  合計週轉率 與 資券比

In [19]:
institution_data.head()

,code,name,date,foreign_turnover_rate,trust_turnover_rate,broker_turnover_rate
0,3088,艾訊,20170103,0.02,0.0,0.0
1,3088,艾訊,20170104,0.01,0.0,0.0
2,3088,艾訊,20170105,0.01,0.0,0.0
3,3088,艾訊,20170106,0.04,0.0,0.0
4,3088,艾訊,20170109,0.03,0.0,0.0

In [20]:
institution_data['intitution_turnover_rate'] = institution_data[['foreign_turnover_rate', 'trust_turnover_rate', 'broker_turnover_rate']].sum(1)
institution_data

,code,name,date,foreign_turnover_rate,trust_turnover_rate,broker_turnover_rate,intitution_turnover_rate
0,3088,艾訊,20170103,0.02,0.0,0.0,0.02
1,3088,艾訊,20170104,0.01,0.0,0.0,0.01
2,3088,艾訊,20170105,0.01,0.0,0.0,0.01
3,3088,艾訊,20170106,0.04,0.0,0.0,0.04
4,3088,艾訊,20170109,0.03,0.0,0.0,0.03
...,...,...,...,...,...,...,...
1272,3088,艾訊,20220322,0.05,0.0,0.0,0.05
1273,3088,艾訊,20220323,0.03,0.0,0.0,0.03
1274,3088,艾訊,20220324,0.05,0.0,0.0,0.05
1275,3088,艾訊,20220325,0.06,0.0,0.0,0.06
1276,3088,艾訊,20220328,0.06,0.0,0.0,0.06

# 資券比

In [21]:
margin_data.head()

   code name      date  short_margin_ratio
0  3088   艾訊  20170103                1.60
1  3088   艾訊  20170104                1.71
2  3088   艾訊  20170105                1.66
3  3088   艾訊  20170106                1.66
4  3088   艾訊  20170109                1.59

In [22]:
def shortMarginConvert(value):
    if value == 0:
        return 0
    else:
        return 1/(value)*10000

    
margin_data['margin_short_ratio'] = margin_data['short_margin_ratio'].apply(shortMarginConvert)
margin_data

      code name      date  short_margin_ratio  margin_short_ratio
0     3088   艾訊  20170103                1.60         6250.000000
1     3088   艾訊  20170104                1.71         5847.953216
2     3088   艾訊  20170105                1.66         6024.096386
3     3088   艾訊  20170106                1.66         6024.096386
4     3088   艾訊  20170109                1.59         6289.308176
...    ...  ...       ...                 ...                 ...
1272  3088   艾訊  20220322                0.00            0.000000
1273  3088   艾訊  20220323                0.00            0.000000
1274  3088   艾訊  20220324                0.06       166666.666667
1275  3088   艾訊  20220325                0.06       166666.666667
1276  3088   艾訊  20220328                0.07       142857.142857

[1277 rows x 5 columns]

# 如何將『高頻資料』與『低頻資料』作合併

1. 配合低頻資料產生可以對應的時間欄位

In [23]:
def dateToDateYearMonth(date_value):
    return int(str(date_value)[:6])

In [24]:
dateToDateYearMonth(20170304)

201703

In [25]:
price_data['date_year_month'] = price_data['date'].apply(dateToDateYearMonth)

In [26]:
price_data

,code,name,new_industry,industry,date,open,high,low,close,volume,return,turn_over,PB_TSE,date_year_month
0,3088,艾訊,電腦及週邊,主機板,20170103,58.3,58.7,58.1,58.4,78,0.1715,0.0987,2.86,201701
1,3088,艾訊,電腦及週邊,主機板,20170104,59.0,59.0,58.7,59.0,44,1.0274,0.0557,2.89,201701
2,3088,艾訊,電腦及週邊,主機板,20170105,59.0,59.1,58.6,59.0,62,0.0000,0.0785,2.89,201701
3,3088,艾訊,電腦及週邊,主機板,20170106,59.0,59.1,58.7,58.8,94,-0.3390,0.1189,2.88,201701
4,3088,艾訊,電腦及週邊,主機板,20170109,58.0,58.3,57.7,58.0,143,-1.3605,0.1809,2.84,201701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3088,艾訊,電腦及週邊,主機板,20220322,57.7,58.0,57.4,57.8,185,-0.5164,0.2051,1.69,202203
1273,3088,艾訊,電腦及週邊,主機板,20220323,58.0,59.0,58.0,58.2,278,0.6920,0.3083,1.70,202203
1274,3088,艾訊,電腦及週邊,主機板,20220324,58.5,58.5,57.8,58.3,145,0.1718,0.1608,1.71,202203
1275,3088,艾訊,電腦及週邊,主機板,20220325,58.3,59.1,58.1,58.4,273,0.1715,0.3027,1.71,202203
1276,3088,艾訊,電腦及週邊,主機板,20220328,58.4,58.6,57.3,57.4,298,-1.7123,0.3304,1.68,202203

2. 根據對應時間來合併，並保留全部資料

In [27]:
student_data = pd.DataFrame([
    {'student_name': "John Cena", 'student_no': 1},
    {'student_name': "Mary", 'student_no': 2},
    {'student_name': "Bob", 'student_no': 3},
    {'student_name': "Patrick", 'student_no': 4},
    {'student_name': "Hank", 'student_no': 5}]
)

student_course_data = pd.DataFrame([
    {'course_name': "微積分", 'student_no': 2},
    {'course_name': "微積分", 'student_no': 5},
    {'course_name': "時間序列", 'student_no': 3},
    {'course_name': "時間序列", 'student_no': 4},
    {'course_name': "時間序列", 'student_no': 5},
    {'course_name': "程式設計", 'student_no': 6},
])

#### 合併的4方法

1. left

In [28]:
student_data.merge(student_course_data, on='student_no', how='left')

  student_name  student_no course_name
0    John Cena           1         NaN
1         Mary           2         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5         微積分
5         Hank           5        時間序列

2. right

In [29]:
student_data.merge(student_course_data, on='student_no', how='right')

  student_name  student_no course_name
0         Mary           2         微積分
1         Hank           5         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5        時間序列
5          NaN           6        程式設計

3. inner

In [30]:
student_data.merge(student_course_data, on='student_no', how='inner')

  student_name  student_no course_name
0         Mary           2         微積分
1          Bob           3        時間序列
2      Patrick           4        時間序列
3         Hank           5         微積分
4         Hank           5        時間序列

4. outer

In [31]:
student_data.merge(student_course_data, on='student_no', how='outer')

  student_name  student_no course_name
0    John Cena           1         NaN
1         Mary           2         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5         微積分
5         Hank           5        時間序列
6          NaN           6        程式設計

### price data merge ifrs data

In [32]:
merge_data = price_data.merge(ifrs_data, 
                              on=['code', 'name', 'date_year_month'], 
                              how='outer')

In [33]:
merge_data

,code,name,new_industry,industry,date,open,high,low,close,volume,return,turn_over,PB_TSE,date_year_month,YOY,TAR
0,3088,艾訊,電腦及週邊,主機板,20170103.0,58.3,58.7,58.1,58.4,78.0,0.1715,0.0987,2.86,201701,NaN,NaN
1,3088,艾訊,電腦及週邊,主機板,20170104.0,59.0,59.0,58.7,59.0,44.0,1.0274,0.0557,2.89,201701,NaN,NaN
2,3088,艾訊,電腦及週邊,主機板,20170105.0,59.0,59.1,58.6,59.0,62.0,0.0000,0.0785,2.89,201701,NaN,NaN
3,3088,艾訊,電腦及週邊,主機板,20170106.0,59.0,59.1,58.7,58.8,94.0,-0.3390,0.1189,2.88,201701,NaN,NaN
4,3088,艾訊,電腦及週邊,主機板,20170109.0,58.0,58.3,57.7,58.0,143.0,-1.3605,0.1809,2.84,201701,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1273,3088,艾訊,電腦及週邊,主機板,20220323.0,58.0,59.0,58.0,58.2,278.0,0.6920,0.3083,1.70,202203,NaN,NaN
1274,3088,艾訊,電腦及週邊,主機板,20220324.0,58.5,58.5,57.8,58.3,145.0,0.1718,0.1608,1.71,202203,NaN,NaN
1275,3088,艾訊,電腦及週邊,主機板,20220325.0,58.3,59.1,58.1,58.4,273.0,0.1715,0.3027,1.71,202203,NaN,NaN
1276,3088,艾訊,電腦及週邊,主機板,20220328.0,58.4,58.6,57.3,57.4,298.0,-1.7123,0.3304,1.68,202203,NaN,NaN
1277,3088,艾訊,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201612,-1.75,11.87

In [34]:
## 再根據時間排序一下

merge_data = merge_data.sort_values(by=['date_year_month', 'date'])
merge_data

,code,name,new_industry,industry,date,open,high,low,close,volume,return,turn_over,PB_TSE,date_year_month,YOY,TAR
1277,3088,艾訊,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201612,-1.75,11.87
0,3088,艾訊,電腦及週邊,主機板,20170103.0,58.3,58.7,58.1,58.4,78.0,0.1715,0.0987,2.86,201701,NaN,NaN
1,3088,艾訊,電腦及週邊,主機板,20170104.0,59.0,59.0,58.7,59.0,44.0,1.0274,0.0557,2.89,201701,NaN,NaN
2,3088,艾訊,電腦及週邊,主機板,20170105.0,59.0,59.1,58.6,59.0,62.0,0.0000,0.0785,2.89,201701,NaN,NaN
3,3088,艾訊,電腦及週邊,主機板,20170106.0,59.0,59.1,58.7,58.8,94.0,-0.3390,0.1189,2.88,201701,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3088,艾訊,電腦及週邊,主機板,20220322.0,57.7,58.0,57.4,57.8,185.0,-0.5164,0.2051,1.69,202203,NaN,NaN
1273,3088,艾訊,電腦及週邊,主機板,20220323.0,58.0,59.0,58.0,58.2,278.0,0.6920,0.3083,1.70,202203,NaN,NaN
1274,3088,艾訊,電腦及週邊,主機板,20220324.0,58.5,58.5,57.8,58.3,145.0,0.1718,0.1608,1.71,202203,NaN,NaN
1275,3088,艾訊,電腦及週邊,主機板,20220325.0,58.3,59.1,58.1,58.4,273.0,0.1715,0.3027,1.71,202203,NaN,NaN
1276,3088,艾訊,電腦及週邊,主機板,20220328.0,58.4,58.6,57.3,57.4,298.0,-1.7123,0.3304,1.68,202203,NaN,NaN

3. 遺漏值補前一期

In [35]:
merge_data = merge_data.ffill()
merge_data

,code,name,new_industry,industry,date,open,high,low,close,volume,return,turn_over,PB_TSE,date_year_month,YOY,TAR
1277,3088,艾訊,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201612,-1.75,11.87
0,3088,艾訊,電腦及週邊,主機板,20170103.0,58.3,58.7,58.1,58.4,78.0,0.1715,0.0987,2.86,201701,-1.75,11.87
1,3088,艾訊,電腦及週邊,主機板,20170104.0,59.0,59.0,58.7,59.0,44.0,1.0274,0.0557,2.89,201701,-1.75,11.87
2,3088,艾訊,電腦及週邊,主機板,20170105.0,59.0,59.1,58.6,59.0,62.0,0.0000,0.0785,2.89,201701,-1.75,11.87
3,3088,艾訊,電腦及週邊,主機板,20170106.0,59.0,59.1,58.7,58.8,94.0,-0.3390,0.1189,2.88,201701,-1.75,11.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3088,艾訊,電腦及週邊,主機板,20220322.0,57.7,58.0,57.4,57.8,185.0,-0.5164,0.2051,1.69,202203,10.14,31.96
1273,3088,艾訊,電腦及週邊,主機板,20220323.0,58.0,59.0,58.0,58.2,278.0,0.6920,0.3083,1.70,202203,10.14,31.96
1274,3088,艾訊,電腦及週邊,主機板,20220324.0,58.5,58.5,57.8,58.3,145.0,0.1718,0.1608,1.71,202203,10.14,31.96
1275,3088,艾訊,電腦及週邊,主機板,20220325.0,58.3,59.1,58.1,58.4,273.0,0.1715,0.3027,1.71,202203,10.14,31.96
1276,3088,艾訊,電腦及週邊,主機板,20220328.0,58.4,58.6,57.3,57.4,298.0,-1.7123,0.3304,1.68,202203,10.14,31.96

# 把其他資料整合進來

In [36]:
stock_data =  merge_data.merge(
    institution_data, on=['code', 'name', 'date'] ## 法人週轉率
).merge(
    margin_data, on=['code', 'name', 'date']      ## 資券比
)

In [38]:
stock_data.columns

Index(['code', 'name', 'new_industry', 'industry', 'date', 'open', 'high',
       'low', 'close', 'volume', 'return', 'turn_over', 'PB_TSE',
       'date_year_month', 'YOY', 'TAR', 'foreign_turnover_rate',
       'trust_turnover_rate', 'broker_turnover_rate',
       'intitution_turnover_rate', 'short_margin_ratio', 'margin_short_ratio'],
      dtype='object')